{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>{{ product.name }}</h2>
    <small>{{ product.created }}</small><br>
    <p>{{ product.price }}$</p>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 300px;">
    <p>{{ product.description|safe }}</p>
    <br><br>
    <form action="{% url 'orders:cart_add' product.id %}" method="post" class="form form-control">
    {% csrf_token %}
    {{ form }}
        <input type="submit" value="add to cart">
    </form>
{% endblock %}